/*Webpage Body*/
body {
  background-color: #2f3338;
  color: #ededed;
}

/* Header */
header {
  position: sticky;
  top: 0;
  background-color: #3a3f45;
  padding: 15px 40px;
  border-bottom: 1px solid #9185bc;
  z-index: 100;
}

/* Logo / Name */
h1.header {
  color: #ededed;
  font-size: 32px;
  text-align: center;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-decoration: none;
  color: #ededed;
}

h2.header {
  color: #ededed;
  font-size: 24px;
  text-align: center;
  margin: 1;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;

  text-decoration: none;
  color:#ededed;
}

/* Navigation Links */
.nav-links {
  display: flex;
  flex-direction: row; /* horizontal */
  justify-content: space-evenly; /* spread across */
  list-style: none; /* remove bullets */
  padding: 0;
  margin: 15px 0 0 0;
  width: 100%; /* spreads across full header */
}

.nav-links li a {
  color: #ededed;
  font-size: 32px;
  text-decoration: none;
}

.nav-links li a:hover {
  color: #9185bc; /* muted purple hover */
}


/*Webpage Contents*/
h1.body{
    color:#ededed;
    font-size: 64px;
    text-align: center;
    margin: 25;
    font-family: "Montserrat", sans-serif;
    font-weight:400;
    
}

p.body-paragraph{
    color:#ededed;
    font-size: 18px;
    text-align: center;
    margin:30;
    font-family:"Roboto", sans-serif;
    font-weight:100;
}

.icon_line{
margin: 30px;
display: flex;
align-items: center;
justify-content: center;
gap:180px;
}